extends base

block content
  .container.m-w
    .border.margin-t.p-4
      .display-4.text-center.pb-4 PASTE THE URL HERE
      form#form-short-url 
        .row
          .col
            .input-group
              .input-group-prepend
                span.input-group-text: i.fas.fa-link
              label.sr-only(for='url') Your Url
              input.form-control.text-center.form-control-lg#url(type='text' placeholder='URL here...' required)
              .input-group-append
                button.btn.btn-secondary#short(type='submit') Shorten
