extends base

block content
  .container.m-w
    .border.margin-t.p-4
      h1.display-4.text-center.pb-4= msg
      a.btn.btn-lg.btn-secondary.d-flex.justify-content-center.mt-4(href='/') Shorten Url

      
